/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@font-face {
  font-family: regularfont;
  src: url(../fonts/Avenir45Book.otf);
}

@font-face {
  font-family: titulofont;
  src: url(../fonts/Avenir45Book_Oblique.otf);
}

body {
  font-family: regularfont;
  color: #444444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.image-background {
  background: url("../img/VENTO_LOGISTICS.jpg") top center no-repeat;
  background-size: cover;
}

a {
  color: #5e91a8;
}

a:hover {
  color: #5e91a8;
  ;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: titulofont;
}

/*Inicio del Navbar
    **********************************
    */

/**Efecto del menu**/

.btn-border {
  position: relative;
  display: inline-block;
  padding: 0.5em 2em;
  cursor: pointer;
  overflow: hidden;
  width: 150px;
  text-align: center;
  font-size: 15px;
}

.btn-border:before, .btn-border:after {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: transparent;
}

.btn-border:before {
  top: 0;
}

.btn-border:after {
  bottom: 0;
}

.btn-border:hover>*>*:before, .btn-border:hover>*>*:after {
  transform: translate3d(0, 0, 0);
}

.btn-border:hover>*>*>*:before, .btn-border:hover>*>*>*:after {
  transform: translate3d(0, 0, 0);
}

.btn-border>*:before, .btn-border>*:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: transparent;
  ;
}

.btn-border>*:before {
  left: 0;
}

.btn-border>*:after {
  right: 0;
}

.btn-border>*>*:before, .btn-border>*>*:after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 9;
  height: 2px;
  width: 100%;
  background-color: #fff;
}

.btn-border>*>*:before {
  top: 0;
  transform: translate3d(-105%, 0, 0);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-border>*>*:after {
  bottom: 0;
  transform: translate3d(105%, 0, 0);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-border>*>*>*:before, .btn-border>*>*>*:after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 9;
  height: 100%;
  width: 2px;
  background-color: #fff;
}

.btn-border>*>*>*:before {
  left: 0;
  transform: translate3d(0, 105%, 0);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-border>*>*>*:after {
  right: 0;
  transform: translate3d(0, -105%, 0);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

/**Efecto del menu**/

/**Esconder metawidth menu***/

.show {
  display: none;
}

@media screen and (max-width: 993px) {
  .esconder {
    display: none;
  }
  .show {
    display: block;
  }
}

/**Esconder metawidth menu***/

/***Menu mobil**/

.menu-icon {
  height: 30px;
  width: 30px;
  position: fixed;
  z-index: 2;
  left: 75%;
  top: 48px;
  cursor: pointer;
}

.menu-logo {
  height: 30px;
  width: 30px;
  position: fixed;
  z-index: 2;
  left: 5%;
  top: 1%;
  cursor: pointer;
}

.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #ffffff;
  margin-bottom: 4px;
  transition: transform 0.2s ease, background-color 0.5s ease;
}

.menu-icon__line-left {
  width: 15px;
}

.menu-icon__line-right {
  width: 15px;
  float: right;
}

.nav {
  position: fixed;
  z-index: 1;
}

.nav:before, .nav:after {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(234, 234, 234, 0.2);
  z-index: -1;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transform: translateX(0%) translateY(-100%);
}

.nav:after {
  background: white;
  transition-delay: 0s;
}

.nav:before {
  transition-delay: 0.1s;
}

.nav__content {
  position: fixed;
  top: 40%;
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  font-size: calc(2vw + 10px);
  font-weight: 200;
  cursor: pointer;
  left: 15%;
}

.nav-lista {
  position: relative;
  display: flex;
  transition-delay: 0.8s;
  opacity: 0;
  transform: translate(0%, 100%);
  transition: opacity 0.2s ease, transform 0.3s ease;
  margin-right: 25px;
}

.nav-lista:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  top: 100%;
  transform: translate(0%, 0%);
  transition: all 0.3s ease;
  z-index: -1;
}

.nav-lista:hover:before {
  width: 100%;
}

body.nav-active .menu-icon__line {
  background-color: #000;
  transform: translateX(0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
  transform: translateX(1px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
  transform: translateX(-2px) rotate(45deg);
}

body.nav-active .nav {
  visibility: visible;
}

body.nav-active .nav:before, body.nav-active .nav:after {
  transform: translateX(0%) translateY(0%);
}

body.nav-active .nav:after {
  transition-delay: 0.1s;
}

body.nav-active .nav:before {
  transition-delay: 0s;
}

body.nav-active .nav-lista {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

body.nav-active .nav-lista:nth-child(0) {
  transition-delay: 0.5s;
}

body.nav-active .nav-lista:nth-child(1) {
  transition-delay: 0.6s;
}

body.nav-active .nav-lista:nth-child(2) {
  transition-delay: 0.7s;
}

body.nav-active .nav-lista:nth-child(3) {
  transition-delay: 0.8s;
}

body.nav-active .nav-lista:nth-child(4) {
  transition-delay: 0.9s;
}

/***Fin del menu mobil**/

/*Fin del Navbar
     **********************************
     */

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

/*------- Letra consola----------*/

.console-container {
  font-size: 7em;
  color: #fff;
  font-family: regularfont;
}

@media screen and (max-width: 800px) {
  .console-container {
    font-size: 3em !important;
    color: #fff;
  }
  .letra-above {
    font-size: 1rem !important;
  }
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  display: inline-block;
  position: relative;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*-----------fin Letra consola----------*/

#hero {
  width: 100%;
  height: 70vh;
}

#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

#hero h2 {
  color: #fff;
  margin: 10px 0 0 0;
  font-size: 24px;
}

@media (max-width: 768px) {
  #hero {
    text-align: center;
    padding-top: 58px;
  }
  #hero h1 {
    font-size: 28px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
  overflow: hidden;
  position: relative;
}

.section-title {
  text-align: center;
  padding-bottom: 15px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #ffe313;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
  padding-left: 15%;
  padding-right: 15%;
}


.section-bg {
  padding: 120px 0;
  color: #fff;
}

.section-bg:before {
  content: "";
  background: linear-gradient(180deg, rgba(0, 55, 77, 1) 0%, rgba(45, 113, 138, 1) 100%);
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
}

.section-white {
  margin: 0 2rem;
  position: relative;
  padding: 8.5rem 0;
  background-color: #fff;
}

.sub-section-white {
  margin: 0 2rem;
  position: relative;
  padding: 1.5rem 0;
  background-color: #fff;
}

.margen {
  padding: 4.5rem 0;
}

.section-gradient {
  background: #f7941d;
  color: #fff;
}

/*--------------------------------------------------------------
# index primera seccion
--------------------------------------------------------------*/

.texto-blanco {
  color: #fff;
}

.negro{
  color: #1b1b1b;
}

.grande{
  font-size: 1.5rem;
}

.img-rotate{
width: 100%;
height: auto;
transform: rotate(30deg);
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about .container {
  position: relative;
  z-index: 10;
}

.about .content {
  padding: 30px 30px 30px 0;
}

.about .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.about .content p {
  margin-bottom: 30px;
}

.about .icon-boxes .icon-box {
  margin-top: 30px;
}

.about .icon-boxes .icon-box i {
  font-size: 40px;
  color: #5e91a8;
  margin-bottom: 10px;
}

.about .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.about .icon-boxes .icon-box p {
  font-size: 15px;
  color: #fff;
}

@media (max-width: 1200px) {
  .about .content {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .about {
    text-align: center;
  }
}

/*-------------------------------------------
 PAGINA DE NOSOTROS
 -------------------------------------------*/

/*------------------------------------------
 INICIO DE NOSOTROS
 -------------------------------------------*/

#nosotros {
  width: 100%;
  height: 80vh;
  background: url("https://www.hfsv.org/download/datasets/4922/LBLA%20Web4.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -110px;
}

#nosotros:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#nosotros h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

#nosotros h2 {
  color: #fff;
  margin: 10px 0 0 0;
  font-size: 24px;
}

@media (max-width: 768px) {
  #nosotros {
    text-align: center;
    padding-top: 58px;
  }
  #nosotros h1 {
    font-size: 28px;
  }
  #nosotros h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-height: 500px) {
  #nosotros {
    height: 120vh;
  }
}

/*----------------------------------
Primera seccion
-----------------------------------*/

#seccionuno {
  color: #000;
  margin-bottom: -50px;
}

.section-two {
  margin: 0 2rem;
  padding: 8.5rem 0;
  color: #fff;
}

.section-two:before {
  content: "";
  background:#00374d;
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
}

.services .icon-box {
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 6px;
  background: #ffff;
  transition: 0.3s;
  color: #1b1b1b;
}

.services .icon-box:hover {
-webkit-box-shadow: 0px 13px 30px -5px #000000;
box-shadow: 0px 13px 30px -5px #000000;
}

.services .icon-box i {
  float: left;
  color: #2d718a;
  font-size: 40px;
}

.services .icon-box h4 {
  margin-left: 70px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .icon-box h4 a p {
  color: #1b1b1b;
  transition: 0.3s;
}

.services .icon-box h4 a:hover {
  text-decoration: underline;
}

.services .icon-box .icon-box:hover h4 a {
  color: #5e91a8;
}

.services .icon-box p {
  margin-left: 70px;
  line-height: 24px;
  font-size: 14px;
}


/*--------------------------------------------
MISION/ VISION
---------------------------------------------*/
/*----------------------------------
Pagina de Servicio
-----------------------------------*/

.fondo-servicio{
  background-color: #00556e;
}

.section-white-s{
  margin: 0 2rem;
  position: relative;
  padding: 8.5rem 0;
  background-color: #fff;
}

.centrar-text{
  text-align: -webkit-center;
}

.centrar-3{
  padding-right: 60px;
}
.centrar-1{
  padding-left: 58px;
}

.bajar{
  margin-top: -96px;
}

@media screen and (max-width: 993px) {
  .centrar-3{
    padding-right: 0px;
  }
  .centrar-1{
    padding-left: 0px;
  }
  .bajar{
    margin-top: 0px;
  }
}
/*----------------------------------
Ruleta de servicio
-----------------------------------*/
.cartas .iconos{
  font-size: 40px;
}


.cartas .cardos{
  position: relative;
  cursor: pointer;
}

.cartas .cardos .face{
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.cartas .cardos .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.cartas .cardos:hover .face.face1{
  background: #00556e;
  transform: translateY(0);
}

.cartas .cardos .face.face1 .content{
  opacity: 0.2;
  transition: 0.5s;
}

.cartas .cardos:hover .face.face1 .content{
  opacity: 1;
}

.cartas .cardos .face.face1 .content img{
  max-width: 100px;
}

.cartas .cardos .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.cartas .cardos .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-100px);
}

.cartas .cardos:hover .face.face2{
  transform: translateY(0);
}

.cartas .cardos .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.cartas .cardos .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.cartas .cardos .face.face2 .content a:hover{
  background: #333;
  color: #fff;
}
/*----------------------------------
Fin de Ruleta de servicio
-----------------------------------*/


/*----------------------------------
Fin de pagina de Servicio
-----------------------------------*/


/*----------------------------------
CSS MAPA
-----------------------------------*/

/* CSS MAPA */
.ping1,
.ping2,
.ping3{position:absolute;z-index:88;left:50%;top:50%;display:block;content:"";-webkit-border-radius:116px;-moz-border-radius:116px;border-radius:116px;border:2px solid #F7941D;
  	transition:all 0.2s ease-in-out;
-webkit-transition:all 0.2s ease-in-out;
   -moz-transition:all 0.2s ease-in-out;
	 -o-transition:all 0.2s ease-in-out;
	width:0;
	height:0;
	margin-left:1px;
	margin-top:1px;}

.dot:hover .ping1,
.dot:hover .ping2,
.dot:hover .ping3 {
			transition:all 0.75s ease-out;
	-webkit-transition:all 0.75s ease-out;
	   -moz-transition:all 0.75s ease-out;
		 -o-transition:all 0.75s ease-out;
}
.dot:hover .ping1 { width:116px;height:116px; margin-left:-60px;margin-top:-60px; }
.dot:hover .ping2{width:66px;height:66px;margin-left:-35px;margin-top:-35px;
	   -moz-transition-delay:0.2s;
	-webkit-transition-delay:0.2s;
	     -o-transition-delay:0.2s;
			transition-delay:0.2s;}
.dot:hover .ping3{width:40px;height:40px;margin-left:-22px;margin-top:-22px;
	   -moz-transition-delay:0.5s;
	-webkit-transition-delay:0.5s;
	     -o-transition-delay:0.5s;
			transition-delay:0.5s;}


.dot{position:absolute;z-index:99;width:14px;height:14px;background:#F7941D;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;cursor:pointer;}

#map{position:relative;margin:5% auto;width:638px;}

#Guatemala{left:80px;top:175px;}
#El_Salvador{left:165px;top:210px;}
#Honduras {left:215px;top:120px;}
#Nicaragua{left:320px;top:190px;}
#Costa_Rica{left:420px;top:311px;}
#Panama{left:550px;top:325px;}
